<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="PayU Software Development Kit Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>